/* Navigation bar */

nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  display: inline;
  font-size: 0.85rem;
}

.nav-right {
  margin-left: auto;
  text-align: right;
  display: inline-flex;
}

.nav-link, .nav-logout {
  margin-right: .8rem;
}

.nav-left {
  margin-left: 1rem;
  margin-right: auto;
  text-align: left;
}

.nav-left span {
  font-size: 16px;
  font-weight: bolder;
  margin-right: .5em;
}

